<%- include('partials/_header'); %>

	<%- include('partials/_navigation'); %>

		<!-- Home -->

		<div class="home">
			<div class="home_background" style="background-image: url(images/index_background.jpg);"></div>
			<div class="overlay"></div>
			<div class="home_content home_content_index">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<h1 class="home_title">Share and review movies</h1>
							<div class="home_button trans_200"><a href="/login">get started</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('partials/_footer'); %>