<!-- Header -->

<header class="header">

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container mr-auto">
                            <a href="/">
                                <div class="logo_text">MovieCamp</div>
                            </a>
                        </div>

                        <% if(userIN) { %>
                        <nav class="main_nav_contaner">
                            <ul class="main_nav">
                                <li class="<%= page_name ==='z' && 'active' %>"><a href="#">Events</a></li>
                                <li class="<%= page_name ==='actors' && 'active' %>"><a href="/actors">Actors</a></li>
                                <li class="<%= page_name ==='movies' && 'active' %>"><a href="/movies">Movies</a>
                                </li>
                                <li class="<%= page_name ==='dashboard' && 'active' %>"><a
                                        href="/users/dashboard">Dashboard</a></li>
                                </li>
                            </ul>
                        </nav>
                        <% } %>

                        <div class="header_content_right ml-auto text-right">
                            <div class="header_search">
                                <div class="search_form_container">
                                    <form action="#" id="search_form" class="search_form trans_400">
                                        <input type="search" class="header_search_input trans_400"
                                            placeholder="Type for Search" required="required">
                                        <div class="search_button">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <% if(!userIN) { %>
                            <% if(page_name=="index" ) { %>
                            <div class="user"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <% } else if(page_name=="login" ) { %>
                            <div class="user"><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                            </div>
                            <% } else if(page_name=="signup" ) { %>
                            <div class="user"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <% } %>
                            <% } %>

                            <% if(userIN) { %>
                            <div class="user"><a href="/users/logout"><i class="fa fa-sign-out"
                                        aria-hidden="true"></i></a>
                            </div>
                            <% } %>


                            <!-- Hamburger -->

                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="search">
        <form action="#" class="header_search_form menu_mm">
            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <% if(userIN) { %>
            <li class="menu_mm"><a href="index.html">Home</a></li>
            <li class="menu_mm"><a href="courses.html">Courses</a></li>
            <li class="menu_mm"><a href="instructors.html">Instructors</a></li>
            <li class="menu_mm"><a href="#">Events</a></li>
            <li class="menu_mm"><a href="blog.html">Blog</a></li>
            <li class="menu_mm"><a href="contact.html">Contact</a></li>
            <% } %>
            <% if(!userIN) { %>
            <li class="menu_mm"><a href="/login">Login</a></li>
            <li class="menu_mm"><a href="/signup">Signup</a></li>
            <% } %>
        </ul>
    </nav>
</div>